<div class="d-flex align-items-center justify-content-center pt-5">
  <div id="csoDpCon"></div>
  <script type="text/javascript" src="https://www.chessstrategyonline.com/js/widgets.min.js"></script>
  <script type="text/javascript">
    csoDailyPuzzle({
          boardStyle: "chesscom",
          pieceStyle: "wikipedia",
          showCoordinates: true,
          width: 420
        });
  </script>
</div>
