<div class="mx-3 my-3">
  <h5>New Post</h5>

  <form action="/posts" method="post" role="form">
    <div class="form-group w-25">
      <label class="control-label" for="post_title">Title</label>
      <input class="form-control" id="post_title" name="post[title]" value="<%= @post.title %>" required="required" type="text"/>
    </div>
    <div class="form-group mt-3">
      <label class="control-label label-before" for="post_content">Article</label>
      <textarea class="form-control" id="post_content" name="post[content]" rows="10"><%= @post.content %></textarea>
    </div>
    <div class="form-group w-25 mt-3">
      <label class="control-label" for="pass">Pass</label>
      <input class="form-control" id="pass" name="pass" value="" required="required" type="text"/>
    </div>
    <div class="form-group mt-3">
      <input class="btn btn-success" type="submit" value="Create Post"/>
    </div>
  </form>
</div>
